</span>
<% if current_user?(booker.user) %> 
<span class="description">
	house id:  
<%= h booker.house_id 	%>
</span> 
<span class="description">
	check in:   
<%= h booker.check_in %>
</span>
<span class="description">
	check out:   
<%= h booker.check_out %>
</span>
<span class="timestamp">
Posted <%= time_ago_in_words(booker.created_at) %> ago. </span>
<%= link_to "delete", booker, :method => :delete, :confirm => "You sure?" %>
<br />
<% end %> 