<% form_for @house do |f| %> 
<%= f.error_messages %>
<%= f.label :Description %>
<div class="input-xlarge">
<%= f.text_area :desc %> 
</div>
<%= f.label :City %>
<div class="input-small">
<%= f.text_field :city %> 
</div>
<%= f.label :Address %>
<div class="input-xlarge">
<%= f.text_area :address %> 
</div>
<%= f.label :Max_people %>
<div class="input-small">
<%= f.text_field :r_type %> 
</div>
<%= f.label :Bedrooms %>
<div class="input-small">
<%= f.text_field :B_rooms %> 
</div>
<%= f.label :Rent %>
<div class="input-small">
<%= f.text_field :rent %> 
</div>
<%= f.label :Minimum_stay %>
<div class="input-small">
<%= f.text_field :min_stay %> 
</div>
<%= @status = @r_type %>
<div class="form-actions">
<div class="btn btn-primary">
<%= f.submit "Submit" %>
</div>
</div> 
<% end %>