<html>
<head>
	<title><% @title %></title>
	<%= render 'layouts/stylesheets' %>
</head>
<body>
<div class="navbar navbar-fixed-top">  
<div class="navbar-inner">  
<div class="container">  
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
<span class="icon-bar"></span>  
<span class="icon-bar"></span>  
<span class="icon-bar"></span>  
</a>  
<a class="brand" href="http://localhost:3000"><img src="/images/logo1.png" width="150" height="50" alt="airbnb logo" /></a>  
<div class="nav-collapse">  
<ul class="nav">  
<% if !current_user %>
  <li class="active"><%= link_to "Register", new_account_path %></li>
  <li><%= link_to "Log In", new_user_session_path %></li>
<% else %>
  <li class="active"><%= link_to "My Account", account_path %></li>
  <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
  <li><%= link_to "view houses", index_path %></li>
  <li><%= link_to "Edit Account", edit_path %></li>
  <li><%= link_to "Survey", new_survey_path %></li>
  <li><%= link_to "My Houses", root_path %></li>
<% end %>
</ul>  
<div class="toplog">
<%= pluralize User.logged_in.count, "user" %> logged in <!-- This based on last_request_at, if they were active < 10 minutes they are logged in -->
</div>
</div><!--/.nav-collapse -->  
</div>  
</div>  
</div> 
<div class="container">
	<div class="leaderboard">
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>
</div>
</div>
</body>
</html>